#slide{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    
    

}
html{
  overflow-x: hidden;
}







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "be vietnam";
    

}
html{
    font-size: 10px;
}
body{
  
  background: linear-gradient(to right, #330be7, #e1ddf5, #e4e0ec, #0a07c4);
    color: white;
}
nav{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 100px;
}
nav ul  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 100px;
}
nav ul li a { 
  padding: 10px 35px;
  margin: 70px;
    background-color: white;
    justify-content: space-evenly;
    border: none;
    outline: none;
    border-radius: 100px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.3);
    transition: all -3s;
    cursor: pointer;
}
nav button {
    padding: 10px 35px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 100px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.3);
    transition: all -3s;
    cursor: pointer;

}


.itens2{
    margin: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    
}
#ps5{
  width: 100%;
  height: 65%;

}
#ps5-2{
  width: 100%;
  height: 56%;
}
.itens2 > article{
    border: 1px solid rgb(255, 248, 248);
    box-shadow: 2px 2px 6px 0px rgb(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;
}
.itens2 > article:hover{
    transition: tranform .1s ease-out;
    
}
.itens2 > article img {
    width: 100%;
}
.text{
    padding: 0 20px 20px;
    color: #151515;
    
}

.text >h3 {
    text-transform: uppercase;
}
.text >.botao{
  background: linear-gradient(-135deg, #c850c0, #4158d0);
    border-radius: 3px;
    border: none;
    color: rgb(5, 5, 5);
    padding: 10px;
    width: 100%;
    font-weight: 600;
    text-shadow: 2px 2px 6px 0px rgb(0, 0, 0, 0.3);
    text-transform: uppercase;
}
#Pe{
  font-family: 'Fira Sans', sans-serif;
}
@media(max-width:768px){
    .itens2{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:500px){
    .itens2{
        grid-template-columns: repeat(1,1fr);

    }
    .itens2 > article{
        text-align: center;

    }
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');




@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
footer{
    
        
        color: #d9d9d9;
        overflow-y:  hidden;
      
}
.content1{
    position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
  overflow-y:  hidden;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
  overflow-y:  hidden;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
  overflow-y:  hidden;
}
footer{
  margin: 0;
  padding: 0;
  color: #ffffff;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  bottom: 0px;
  width: 100%;
  border: 1px solid rgb(105, 103, 103);
    box-shadow: 2px 2px 6px 0px rgb(0, 0, 0, 0.3);
    overflow-y:  hidden;
}
.main-content{
  display: flex;
  overflow-y:  hidden;
}
.conten{
  
  overflow-y:  hidden;
}

.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
  overflow-y:  hidden;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  overflow-y:  hidden;
}
.box .conten{ 
  margin: 20px 0 0 0;
  position: relative;
  overflow-y:  hidden;
  
}


.left .conten p{
  text-align: justify;
  overflow-y:  hidden;
}
.left .conten .social{
  margin: 20px 0 0 0;
  overflow-y:  hidden;
}
.left .conten .social a{
  padding: 0 2px;
  overflow-y:  hidden;
}
.left .conten .social a span{
  height: 40px;
  width: 40px;
  background: white;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
  
        overflow-y: hidden;
}
  

.left .conten .social a span:hover{
  background: white;
  overflow-y:  hidden;
}
.center .conten .fas{
  font-size: 1.4375rem;
  background: rgb(255, 255, 255);
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  
        overflow-y: hidden;
}


.center .conten .fas:hover{
  background: white;
  overflow-y:  hidden;
}
.center .conten .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  overflow-y:  hidden;
  color: #151515;
}
.center .conten .phone{
  margin: 15px 0;
  overflow: hidden;
  color: #151515;
}
.center .conten .place{
  color: #151515;
}
.center .conten .email{
  overflow-y: hidden;
  color: #151515;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #fffbfb;
  
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form .msgForm{
  width: 100%;
  font-size: 1.0625rem;
  background: white;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form .msgForm:focus{
  outline-color: white;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: rgb(255, 255, 255);
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  
}
.right form .btn button:hover{
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #000000;
}
.bottom center span{
  color: #706d6d;
}

.bottom center a{
  color: rgb(248, 248, 248);
  text-decoration: none;
}
.bottom center span {
  color: #ffffff;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  font-family: 'Poppins', sans-serif;
}
.wrapper, .search-data{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper{
  
  height: 0px;
  width: 0px;
  border-radius: 100%;
  
  transition: all 0.4s linear;
}
.wrapper.active{
  height: 10px;
  width: 10px;
}
.search-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 60px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background: linear-gradient(-135deg, rgb(250, 250, 250), #f3f3f3);
}
.search-btn span{
  color: rgb(15, 14, 14);
  font-size: 22px;
  line-height: 60px;
}
.search-data{
    position: absolute;
  float: left;
  height: 50px;
  width: 150px;
  display: flex;
  text-align: left;
  display: none;
}
.search-data input{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
.search-data .line{
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.4s 0.3s linear;
}
.search-data .line.active{
  transform: scaleX(1);
}
.search-data label{
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(255,255,255,0.7);
}
.search-data input:valid ~ label{
  opacity: 0;
}
.search-data span{
  color: #fff;
  position: absolute;
  width: 50px;
  font-size: 25px;
  right: 0;
  top: 0;
  line-height: 45px;
  cursor: pointer;
}
.clo-btn{
  position: absolute;
  z-index: 99;
  right: 25px;
  top: 25px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
.search-data, .search-data span,
.search-data label, .clo-btn{
  display: none;
}
h1{
  text-align: center;
  color: #151515;
}